@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="row">
    <div class="col-sm-8 col-lg-6" style="text-align:left">
        <label for="Brand_ID"><strong>Brand ID</strong>  </label>
       @Html.TextBox("BrandID", null, new { })
    </div>
    <div class="col-sm-8 col-lg-6" style="text-align:left">
        <label for="Region_ID"><strong>Region ID</strong>   </label>
        @Html.TextBox("RegionID", null, new { })
        <input type="submit" value="Submit" />
    </div>
</div>
}

